body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(#b8b1a6,#adadad,#e7e7e7,#c0bebe);
    min-height: 100vh;
}

header {
    background-color: #b8b1a6;
    padding: 15px 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav-brand {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
}

.back-btn {
    background-color: #a69b8d;
    color: white;
    padding: 8px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #958779;
}

h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    color: #5a5a5a;
}


.filter-section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 20px auto; /* Center horizontally */
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-section input,
.filter-section button {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.filter-section button {
    background-color: #a69b8d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-section button:hover {
    background-color: #958779;
}

#checkoutHistoryTable {
    width: 80%;
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


#checkoutHistoryTable th {
    background-color: #e7e7e7;
    color: #5a5a5a;
    font-weight: bold;
    padding: 15px;
    font-size: 16px;
}

#checkoutHistoryTable td {
    text-align: center;
    padding: 12px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
}

.cafe-name {
    font-size: 18px;
    color: #5a5a5a;
    font-weight: bold;
}

.filter-section button:hover {
    background-color: #958779;
}

.filter-section button:last-child {
    background-color: #ff6b6b;
}

.filter-section button:last-child:hover {
    background-color: #ff5252;
}